<template>
  <div class="parent-create">
    <div class="user-img">
    </div>
    <div class="create">
    <div class="create-parent">
      <h1>Create User</h1>
      <div class="create-container">
        <div class="create-name">
          <p>Enter your name</p>
          <input type="text" placeholder="Enter your name" v-model= createUser.name>
        </div>
        <div class="create-email">
          <p>Enter your email</p>
          <input type="email" placeholder="Enter your email" v-model= createUser.email>
        </div>
        <div class="create-password">
          <p>Enter your password</p>
          <input type="password" placeholder="Enter your password" v-model= createUser.password>
        </div>
        <div class="create-password">
          <p>Enter your number phone</p>
          <input type="number" placeholder="Enter your nuber phone" v-model= createUser.phone>
        </div>
      </div>
      <div class="create-btn">
        <router-link to="/">
          <button @click="create">Create user</button>
        </router-link>
          <router-link to="/">
            <button>
              Go to users
            </button>
        </router-link>
      </div>
    </div>
      </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      createUser:{
        name: "",
        email:"",
        password:"",
        phone: "",
      }
    }
  },
  methods: {
    create(){
      this.$store.dispatch('createUser', this.createUser);
    }
  },
  mounted() {
    this.$store.dispatch('getUsers');

  }
}
</script>

<style>
.parent-create {
  display: flex;
}
.user-img {
  width: 50%;
  height: 100vh;
  background-image: url("https://1.bp.blogspot.com/-7gAG1CS_-GY/YR7XD-axEZI/AAAAAAAAKrw/-5poKoXRiMon490omdLK8B7qH-hsc_EcQCLcBGAsYHQ/s0/Making-Ratings-and-Reviews-better-for-users-developers-v2.png");
  background-position: center;
  background-size: cover;
}
.create {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #d5eef4;
}
.create-parent{
  background: white;
  width: 600px;
  border-radius: 35px;
}
.create-container{
  padding: 20px 120px;
}
.create-parent h1{
  text-align: center;
  color: #263b67;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
}

.create-name {
  margin-top: 20px;
}
.create-name p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.create-name input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
.create-email {
  margin-top: 20px;
}
.create-email p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.create-email input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
.create-password {
  margin-top: 20px;
}
.create-password p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.create-password input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border:1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.create-confirmpassword {
  margin-top: 20px;
}
.create-confirmpassword p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.create-confirmpassword input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border:1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
.create-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-btn button:first-child{
  margin-right: 10px;
  color: white;
  background: #263b67;
  padding: 12px 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 18px;

}
.create-btn button:last-child{
  margin-right: 10px;
  color: white;
  background: #263b67;
  padding: 12px 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 18px;
}
.create-btn button a {
  color: white;
  text-decoration: none;
}
</style>