<template>
  <div class="users">
    <router-link to="/login">
      <button class="login-button">Login</button>
    </router-link>
    <h1 class="users-h1">Users</h1>
   <div class="users_parent">
    <div v-for="(item , key) in users.users" :key="key" class="users_child">
     <div>
      <router-link :to="`user/${item.id}`">
       <div class="users-cart">
         <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg">
         <h1>{{item.name}}</h1>
         <h2>{{item.email}}</h2>
         <h3>{{item.phone_number}}</h3>
       </div>
      </router-link>
     </div>
    </div>
    </div>
    <div class="create-user">
      <router-link to="/create">
        <button>Create User</button>
      </router-link>
    </div>
  </div>
</template>

<script>
import {  mapState } from "vuex"
import Vue from "vue";
export default {
  data() {
    return {
        'auth' : Vue.auth.isAuthenticated()
    };
  },
  computed: {
    ...mapState({
      users: (state) => state.main.users
    })
  },
  mounted() {
    this.$store.dispatch('getUsers')
  }
}
</script>

<style>
.users {
  width: 100%;
  height: 100vh;
}
.users-h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 40px;
}
.users_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.users-cart {
  width: 300px;
  height: 440px;
  border: 1px solid #4b6cb7;
  margin-right: 10px;
}
.users-cart img {
  width: 100%;
}
.users-cart h1 {
  text-align: center;
  color: black;
}
.users-cart h2 {
  text-align: center;
  color: black;
}
.users-cart h3 {
  text-align: center;
  color: black;
}
.create-user {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.create-user button {
  padding: 15px 30px;
  color: white;
  background: #445465;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  outline: none;
}
.login-button {
  padding: 10px 20px;
  background: white;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  margin: 20px;
}
</style>