<template>
  <div class="login">
   <div class="login-parent">
    <h1>Login</h1>
    <div class="login-container">
      <div class="login-email">
        <p>Enter your email</p>
        <input type="email" placeholder="Enter your email" v-model=login.email>
      </div>
      <div class="login-password">
        <p>Enter your password</p>
        <input type="password" placeholder="Enter your password" v-model=login.password>
      </div>
    </div>
     <div class="login-btn">
       <button @click="loginUser">Sign in</button>
        <router-link to="/register">
          <button>
            Go to register
          </button>
        </router-link>
     </div>
     </div>
  </div>
</template>

<script>
export default {
  name:"userLogin",
  data(){
    return{
      login: {
        email: "",
        password: "",
      }
    }
  },
  methods: {
    loginUser(){
      this.$store.dispatch('login', this.login).then(success => {
        console.log(success);
        this.$router.push("/")
      }).catch(err => {
        console.log(err);
        alert("fields are filled in incorrectly")
      })
    }
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.login-parent{
  background: white;
  width: 600px;
  border-radius: 35px;
}
.login-container{
  padding: 20px 120px;
}
.login-parent h1{
  text-align: center;
  color: #263b67;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
}
.login-email {
  margin-top: 20px;
}
.login-email p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.login-email input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
.login-password {
  margin-top: 20px;
}
.login-password p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.login-password input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border:1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
.login-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn button:first-child{
  margin-right: 10px;
  color: white;
  background: #263b67;
  padding: 12px 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 18px;

}
.login-btn button:last-child{
  margin-right: 10px;
  color: white;
  background: #263b67;
  padding: 12px 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 18px;
}
.login-btn button a {
  color: white;
  text-decoration: none;
}
</style>