<template>
  <div class="users">
    <h1 class="users-h1">User</h1>
    <div class="users_parent">
      <div class="users_child">
        <div>
            <div class="users-cart">
              <img src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-users-vector-icon-png-image_3725294.jpg">
              <div class="user-inp">
                <input type="text"  v-model = userInfo.user.name >
                <input type="text"  v-model = userInfo.user.email>
              </div>
              <div class="user-btn">
                <button @click="updateUser">Save</button>
                <button class="payments-btn" @click="payments">Payments</button>
                <router-link to="/">
                <button @click="deleteUser">
                    Delete
                </button>
                </router-link>
              </div>
            </div>
          <div v-if="this.showPayment">
              <div class="user-payments" v-for="(item , key) in userPayments.payments" :key="key">
                <h1>{{item.service_name}}</h1>
                <h2>{{item.amount}}</h2>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {  mapState } from "vuex"
export default {
  data() {
    return {
      showPayment: false
    };
  },
  computed: {
    ...mapState({
      userInfo: (state) => state.main.userInfo,
      userPayments: (state) => state.main.userPayments
    })
  },
  methods: {
    getUser(id) {
      this.$store.dispatch('userInfo', id)
    },
    updateUser(){
      this.$store.dispatch('updateUser', this.userInfo.user)
    },
    deleteUser(){
      this.$store.dispatch('deleteUser', this.userInfo.user)
    },
    payments() {
      this.showPayment = !this.showPayment
      this.$store.dispatch('paymentUser', this.userInfo.user)
    }

  },
  mounted() {
    this.getUser(this.$route.params.id)
  }
}
</script>

<style>
.users {
  width: 100%;
  height: 100vh;
}
.users-h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 40px;
}
.users_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.users-cart {
  width: 300px;
  height: 460px;
  border: 1px solid #4b6cb7;
  margin-right: 10px;
}
.users-cart img {
  width: 100%;
}
.user-inp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-inp input {
  padding: 10px;
  border: 1px solid #4f6074;
  outline: none;
  border-radius: 13px;
  margin-top: 15px;
  text-align: center;
}
.user-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.user-btn button:first-child {
  padding: 8px 15px;
  border: none;
  outline: none;
  border-radius: 13px;
  background: #4f6074;
  color: white;
  margin-right: 7px;
}
.payments-btn {
  padding: 8px 15px;
  border: none;
  outline: none;
  border-radius: 13px;
  background: #4f6074;
  color: white;
  margin-right: 7px;
}
.user-btn button:last-child {
  padding: 8px 15px;
  border: none;
  outline: none;
  border-radius: 13px;
  background: #4f6074;
  color: white;
}
.user-payments {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 300px;
  border: 1px solid #4b6cb7;
  margin-right: 10px;
}
</style>