<template>
  <div class="register">
    <div class="register-parent">
      <h1>Register</h1>
      <div class="register-container">
        <div class="register-name">
          <p>Enter your name</p>
          <input type="text" placeholder="Enter your name" v-model=register.name>
        </div>
        <div class="register-email">
          <p>Enter your email</p>
          <input type="email" placeholder="Enter your email" v-model=register.email>
        </div>
        <div class="register-password">
          <p>Enter your password</p>
          <input type="password" placeholder="Enter your password" v-model=register.password>
        </div>
        <div class="register-confirmpassword">
          <p>confirm password</p>
          <input type="password" placeholder="confirm  password" v-model=register.conpassword>
        </div>
      </div>
      <div class="register-btn">
          <router-link to="/login">
              <button @click="registerUser">Register</button>
          </router-link>

          <router-link to="/login">
            <button>
              Go to Login
            </button>
          </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      register:{
        name:"",
        email:"",
        password:"",
        conpassword:""
      }
    }
  },
  methods: {
    registerUser(){
      this.$store.dispatch("register" , this.register)
    }
  }
}
</script>

<style>
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.register-parent{
  background: white;
  width: 600px;
  border-radius: 35px;
}
.register-container{
  padding: 20px 120px;
}
.register-parent h1{
  text-align: center;
  color: #263b67;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
}

.register-name {
  margin-top: 20px;
}
.register-name p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.register-name input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
.register-email {
  margin-top: 20px;
}
.register-email p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.register-email input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
.register-password {
  margin-top: 20px;
}
.register-password p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.register-password input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border:1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.register-confirmpassword {
  margin-top: 20px;
}
.register-confirmpassword p {
  color: #120f0f;
  font-weight: bold;
  font-size: 18px;
}
.register-confirmpassword input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border:1px solid #120f0f;
  border-radius: 5px;
  margin: 17px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
.register-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-btn button:first-child{
  margin-right: 10px;
  color: white;
  background: #263b67;
  padding: 12px 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 18px;

}
.register-btn button:last-child{
  margin-right: 10px;
  color: white;
  background: #263b67;
  padding: 12px 30px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 18px;
}
.register-btn button a {
  color: white;
  text-decoration: none;
}
</style>